body {
    margin: auto;
    width: 800px;
    font-family: Verdana;
    font-size: 12pt;
    background-color: rgb(14, 16, 38);
    color: rgb(200, 200, 200);
    padding: 1em 8em 4em 8em;
}

a {
    color: white;
}

#go-up {
    color: rgb(97, 206, 60);
}

@media print {
    #go-up {
        display: none;
    }
}

h1, h2, h3, h4 {
    color: white;
}

img {
    float: right;
    border-radius: 20px;;
}

strong {
    font-weight: bolder;
    color: yellow;
}

code {
    font-family: 'Droid Sans Mono', arial, serif;
}