body {
    font-family: 'Droid Sans Mono', arial, serif;
    font-size: 14pt;
    background-color: rgb(14, 16, 38);
    color: white;
    height: 16em;
}

#leftMargin {
    background-color: rgb(220, 220, 220);
    float: left;
    left: 0em;
    top: 0em;
    width: 1em;
    height: 16em;
}

#content {
    padding-left: 1.25em;
}